
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
   
    color: green;
    background-color: greenyellow;
  
    text-align: center;
    font-size: xx-large;
    border-spacing: none;
}


table{
    text-align: center;
    width:  1300px;
   
    
}

 button{
    color:green;
    background-color: greenyellow;
     border-color: beige;
 }   
 .td1{
    background-color: rgba(166, 255, 32, 0.507);
 }
 

 

   


